#root {
  margin: 0 auto;
}

h2 {
  margin-top: 0;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  width: 100px;
  height: 100px;
  padding-right: 1em;
}

.uploadForm {
  display: flex;
  flex-direction: column;
}

.mainContainer {
  margin: 0 auto;
  width: 80vw;
  min-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navContainer,
.colContainer {
  display: flex;
  flex-direction: row;
  margin: 2rem 0;
}

.colContainer {
  gap: 2rem;
}

.leftContainer,
.rightContainer {
  display: flex;
  flex-direction: column;
  border: 2px color-mix(in srgb, white 50%, black 50%) solid;
  border-radius: 4px;
  padding: 2rem;
  align-items: center;
}

.leftContainer {
  width: 35vw;
}

.rightContainer {
  width: 25vw;
}

.selectedNav {
  filter: invert(100%);
}

.queryContainer,
.viewContainer,
.uploadContainer,
.outputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.queryFieldContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2em;

  label {
    font-size: smaller;
    margin-right: 2rem;
  }

  textarea {
    width: 20vw;
    height: 4lh;
  }
}

.uploadForm {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.cdrTable {
  width: 100%;
  text-align: left;
  margin-top: 2rem;
  border-collapse: collapse;

  thead {
    font-weight: bold;
    border-bottom: 1px solid whitesmoke;

    th {
      width: 5vw;
    }
  }

  tr:nth-child(even) {
    background-color: color-mix(in srgb, #242424 95%, white 5%);
  }
}

.outputDisplayTable {
  width: 100%;
  text-align: left;
  table-layout: fixed;

  table {
    width: 100%;

    thead {
      font-weight: bold;
      border-bottom: 1px solid lightgray;
      text-align: left;

      :first-child {
        width: 7ch;
        text-align: center;
      }
    }
  }
}

.statusIcon {
  height: 24px;
  width: 24px;
}