services:
  express:
    build: .
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@postgres:5432/cdr
    depends_on:
      - postgres

  postgres:
    image: postgres:latest
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: cdr
      POSTGRES_PORT: 5432
    volumes:
      - ./server/initdb:/docker-entrypoint-initdb.d
      - data_sql:/var/lib/postgresql

volumes:
  data_sql: